<p id="notice"><%= notice %></p>

<h1>Account Lines</h1>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th>Sale</th>
      <th>Current account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_lines.each do |account_line| %>
      <tr>
        <td><%= account_line.total %></td>
        <td><%= account_line.sale %></td>
        <td><%= account_line.current_account %></td>
        <td><%= link_to 'Show', account_line %></td>
        <td><%= link_to 'Edit', edit_account_line_path(account_line) %></td>
        <td><%= link_to 'Destroy', account_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Line', new_account_line_path %>
