<p id="notice"><%= notice %></p>

<p>
	<strong>Apellido:</strong>
	<%= @current_account.last_name %>
</p>
<p>
	<strong>Nombre:</strong>
	<%= @current_account.first_name %>
</p>
<p>
	<strong>dni:</strong>
	<%= @current_account.dni %>
</p>

<p>
  <strong>Total:</strong>
  <%= @current_account.total %>
</p>

<div class="account-detail">
	<table border="1">
	  <thead>
	    <tr>
	      <th>Fecha</th>
	      <th>Monto de Compra</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @current_account.sales.each do |sale| %>
	      <tr>
	        <td><%= sale.created_at.day %> / <%= sale.created_at.month %> / <%= sale.created_at.year %></td>
	        <td> $ <%= sale.total_sale %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<table border="1">
	  <thead>
	    <tr>
	      <th>Fecha</th>
	      <th>Monto de Pago</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @current_account.account_payments.each do |account_payment| %>
	      <tr>
	        <td><%= account_payment.created_at.day %> / <%= account_payment.created_at.month %> / <%= account_payment.created_at.year %></td>
	        <td> $ <%= account_payment.total %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<p>
  <strong>Account status:</strong>
  <%= @current_account.account_status.description %>
</p>

<div>
	Agregar Pago
</div>
<%= form_with(url: "/account_payments", method: "post") do %>
  <%= label_tag(:total, "monto:") %>
  <%= text_field_tag(:total) %>
  <%= hidden_field_tag(:current_account_id, @current_account.id) %>
  <%= submit_tag("Confirmar Pago en efectivo") %>
<% end %>

<%= link_to 'Edit', edit_current_account_path(@current_account) %> |
<%= link_to 'Back', current_accounts_path %>
