<p id="notice"><%= notice %></p>

<h1>Salary Discounts</h1>

<table>
  <thead>
    <tr>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salary_discounts.each do |salary_discount| %>
      <tr>
        <td><%= salary_discount.total %></td>
        <td><%= link_to 'Show', salary_discount %></td>
        <td><%= link_to 'Edit', edit_salary_discount_path(salary_discount) %></td>
        <td><%= link_to 'Destroy', salary_discount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salary Discount', new_salary_discount_path %>
