<%= form_with(model: salary, local: true) do |form| %>
  <% if salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% salary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gross_salary %>
    <%= form.text_field :gross_salary %>
  </div>

  <div class="field">
    <%= form.label :net_salary %>
    <%= form.text_field :net_salary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
