<%= form_for :salary, :url => { :action => :create } do |form| %>
   <div class="field">
      <%= collection_select(:salary, :user_id, User.all.order(:id), :id, :dni ) %> 
    </div>

  <div class="field">
      <%= form.label :extra_hour %>
      <%= form.text_field :extra_hour %>
    </div>
    
    <div class="field">
      <%= form.label "Activos Remunerativos" %></>
      <%= form.collection_check_boxes :asset_ids, Asset.all.where(asset_type: 1), :id, :description_and_total, {include_hidden: false} do |b| %>
        <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
        </div>
      <% end %>
  </div>

  <div class="field">
      <%= form.label "Activos No Remunerativos" %></>
      <%= form.collection_check_boxes :asset_ids, Asset.all.where(asset_type: 2), :id, :description_and_total, {include_hidden: false} do |b| %>
        <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
        </div>
      <% end %>
  </div>

  <div class="field">
      <%= form.label "Descuentos" %></>
      <%= form.collection_check_boxes :discount_ids, Discount.all, :id, :description, {include_hidden: false} do |b| %>
        <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
        </div>
      <% end %>
  </div>

  <div class="button">
    <%= form.submit %>
  </div>

<% end %>
