<%= form_with(model: account_payment, local: true) do |form| %>
  <% if account_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_payment.errors.count, "error") %> prohibited this account_payment from being saved:</h2>

      <ul>
      <% account_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= collection_select(:account_payment, :current_account_id, CurrentAccount.all.order(:id), :id, :dni ) %> 
  </div>

  <%= select_tag 'current_account_id', options_from_collection_for_select(CurrentAccount.order(:id), :id, :id) %>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="button-comprar">
    <%= form_with(url: '/account_payments', method: "post") do %>
      <%= submit_tag("Crear") %>
    <% end %>
  </div>
<% end %>
