<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table border="1">
  <thead>
    <tr>
      <th>Total</th>
      <th>fecha</th>
      <th>Forma de Pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.order(:created_at).each do |sale| %>
      <tr>
        <td><%= sale.total_sale %></td>
        <td><%= sale.created_at.day %> / <%= sale.created_at.month %> / <%= sale.created_at.year %></td>
        <% if sale.current_account_id %>
          <td>Cuenta Corriente: <%= sale.current_account_id %></td>
        <% else %>
          <td>Efectivo</td>
        <%end%>
        <td><%= link_to 'Show', sale %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', welcome_cart_path %>
<%= link_to 'volver a principal', welcome_index_path %>

