<p id="notice"><%= notice %></p>

<table border="1">
  <caption>Detalle Venta</caption>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Descripcion</th>
      <th>Precio Unitario</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
  	<% @sale.sale_lines.each do |sale_line| %>
	    <tr>
	      <td><%= sale_line.quantity %></td>
	      <td><%= sale_line.product.name %></td>
	      <td>$<%= sale_line.product.sale_price%></td>
	      <td>$<%= sale_line.subtotal %></td>
	    </tr>
	<% end %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>TOTAL:</th>
      <th><%= @sale.total_sale %></th>
    </tr>
  </tfoot>
</table>

<%= link_to 'volver', sales_path %>
